*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_div{
    height: 500px;
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    padding: 25px;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button button:nth-child(odd) {
    color: #15aabf;
    padding: 3px 18px;
    border-radius: 10px;
    outline:none;
    border: 1px solid aqua;
    cursor: pointer;
}

#button button:nth-child(even) {
    color: #15aabf;
    padding: 15px 28px;
    border-radius: 15px;
    outline:none;
    border: 1px solid aqua;
    cursor: pointer;
}

.tag1{
    display: absolute;
    left: 400px;
    top: 40px;
}